streamlit==1.45.0
groq
python-dotenv
faiss-cpu
sentence-transformers
langchain
langchain-community
langchain-text-splitters
PyMuPDF
pytesseract
pdf2image
python-docx
python-pptx
pillow
numpy
transformers
huggingface_hub
scikit-learn
scipy
tenacity
requests
pydantic
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
